.matrix {
  font-size: 8.5px;
}

.matrix-floor {
  font-size: 14px;
}

.room-sm {
  width: 30px;
  height: 36px;
  cursor: pointer;
}

.room-md {
  width: 55px;
  height: 36px;
  padding: 0px;
  cursor: pointer;
}

.room-lg {
  width: 55px;
  height: 72px;
  padding: 0px;
  cursor: pointer;
}

.no-border {
  border: 0px;
  cursor: default;
}

.reserved {
  background-color: #D6B478;
}

.sold {
  background-color: #971515;
  color: white;
}

.not-available {
  background-color: #C9C4C1;
}

.total {
  margin: auto;
  margin-top: 10%;
  font-size: 10px;
  background-color: #C9C4C1;
  border: 10px solid #C9C4C1;
}

.logo {
  height: 15%;
}

.logo img {
  max-width: 100%;
  height: auto;
}

diagram {
  height: 30%;
}

.diagram img {
  max-width: 100%;
  height: auto;
}

.totalInfo {
  zoom: 2;
}

.sum {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.box-available {
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
}

.box-international-sold {
  background-color: #D6B478;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
}

.box-sold {
  background-color: #971515;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
}

.box-not-available {
  background-color: #C9C4C1;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
}

.box-desc {
  color: #efefef;
  display: inline;
}

.margin-table {
  margin-bottom: 100px;
}

.float-center {
  margin: auto;
  float: none;
}

.floor-pointer {
  height: 36px;
  padding-top: 10px;
  border-right: none;
  border-top: none;
  border-left: none;
}

.floor-space {
  height: 36px;
  border: none;
}

.admin-button {
  position: absolute;
  bottom: 0;
  right: 90px;
  z-index: 1;
  text-decoration: none;
}

.logout-button {
  position: absolute;
  bottom: 0;
  right: 20px;
  z-index: 1;
  text-decoration: none;
}

@media only screen and (max-width: 1140px) {
  .matrix {
    font-size: 6px;
  }

  .room-sm {
    width: 20px;
    height: 30px;
    cursor: pointer;
  }

  .room-md {
    width: 40px;
    height: 30px;
    padding: 1px;
    cursor: pointer;
  }

  .room-lg {
    width: 40px;
    height: 60px;
    padding: 1px;
    cursor: pointer;
  }

  .totalInfo {
    zoom: 1.5;
  }
}
