<h1 class="display-1">main works!</h1>
<a href="/admin">Admin</a>
<button type="button" class="btn btn-warning" (click)="logout()">Logout</button>

<div class="row ml-0 mr-0">
  <div class="col-5 table-responsive buildingA">
    <table class="table-bordered" *ngIf="matrixData1">
      <tbody>
        <tr>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-sm no-border"></td>
        </tr>
        <tr *ngFor="let floor of buildA">
          <td *ngFor="let matrix of matrixData1[floor.name]; let i = index" [attr.colspan]="calColspan(matrix['room-detail'].merge)"
            class="text-center" [ngClass]="{'room-md': matrix['room-detail'].merge !=='xy', 
            'room-lg':  matrix['room-detail'].merge ==='xy', 
            'reserved': matrix.status === 'reserved', 'not-available': matrix.status === 'not-available', 'sold': matrix.status === 'sold'}"
            (click)="toggleReserve(matrix, floor.name, i)">
            {{matrix['room-detail'].room}}<br />
            {{matrix['room-detail'].space | number:'0.2-2'}} m2
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-5 table-responsive buildingB">
    <table class="table-bordered" *ngIf="matrixData2">
      <tbody>
        <tr>
          <td class="room-sm no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
        </tr>
        <tr *ngFor="let floor of buildA">
          <td *ngIf="floor.floor > 24" colspan="6" class="no-border"></td>
          <td *ngFor="let matrix of matrixData2[floor.name]; let i = index" [attr.colspan]="calColspan(matrix['room-detail'].merge)"
            class="text-center" [ngClass]="{'room-md': matrix['room-detail'].merge !=='xy', 
            'room-lg':  matrix['room-detail'].merge ==='xy', 
            'reserved': matrix.status === 'reserved', 'not-available': matrix.status === 'not-available', 'sold': matrix.status === 'sold'}"
            (click)="toggleReserve(matrix, floor.name, i)">
            {{matrix['room-detail'].room}}<br />
            {{matrix['room-detail'].space | number:'0.2-2'}} m2
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-2 table-responsive totalInfo">
    <table class="total table-responsive">
      <tbody>
        <tr>
          <td class="mc-6"><label class="bold">Total</label></td>
          <td class="mc-6"><label>{{total}}</label></td>
        </tr>
        <tr>
          <td class="mc-6"><label class="bold">Available</label></td>
          <td class="mc-6"><label>{{availableTotal}}</label></td>
        </tr>
        <tr>
          <td class="mc-6"><label class="bold">Reserved</label></td>
          <td class="mc-6"><label>{{reservedTotal}}</label></td>
        </tr>
        <tr>
          <td class="mc-6"><label class="bold">Sold</label></td>
          <td class="mc-6"><label>{{soldTotal}}</label></td>
        </tr>
        <tr>
          <td class="mc-6"><label class="bold">Not Available</label></td>
          <td class="mc-6"><label>{{notAvailableTotal}}</label></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ngbd-modal-config #modal (doAction)="doReserve()"></ngbd-modal-config>
</div>