.matrix {
  font-size: 2px;
}

.room-sm {
  width: 60px;
  height: 10px;
  cursor: pointer;
}

.room-md {
  width: 60px;
  height: 10px;
  padding: 3px;
  cursor: pointer;
}

.room-lg {
  width: 60px;
  height: 60px;
  padding: 3px;
  cursor: pointer;
}

.no-border {
  border: 0px;
  height: 0px !important;
  cursor: default;
}

.reserved {
  background-color: #ffc107;
}

.sold {
  background-color: red;
  color: white;
}

.not-available {
  background-color: black;
  color: white;
}

.total {
  margin: auto;
  margin-top: 20%;
  font-size: 10px;
  background-color: rgb(201, 196, 193);
  border: 10px solid rgb(201, 196, 193);
}

.logo {
  height: 20%;
}

.logo img {
  max-width: 100%;
  height: auto;
}

diagram {
  height: 30%;
}

.diagram img {
  max-width: 100%;
  height: auto;
}

.totalInfo {
  zoom: 2;
}

.sum {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.box-available {
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
}

.box-reserved {
  background-color: #ffc107;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
}

.box-sold {
  background-color: red;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
}

.box-not-available {
  background-color: black;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
}

.box-desc {
  color: #efefef;
  display: inline;
}

.margin-table {
  margin-bottom: 70px;
}

.float-right {
  float: right;
}
