<h1 class="display-1">main works!</h1>
<a href="/admin">Admin</a>
<button type="button" class="btn btn-warning" (click)="logout()">Logout</button>
<div class="row">
  <div class="col-6 table-responsive">
    <table class="table-bordered table-responsive" *ngIf="matrixData1">
      <tbody>
        <tr>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-sm no-border"></td>
        </tr>
        <tr *ngFor="let floor of buildA">
          <td *ngFor="let matrix of matrixData1[floor.name]; let i = index" [attr.colspan]="calColspan(matrix['room-detail'].merge)"
            class="text-center" [ngClass]="{'room-md': matrix['room-detail'].merge !=='xy', 'room-lg':  matrix['room-detail'].merge ==='xy', 'reserved': matrix.status === 'reserved'}"
            (click)="toggleReserve(matrix.diagram, floor.name, i)">
            {{matrix['room-detail'].room}}<br />
            {{matrix['room-detail'].space | number:'0.2-2'}} m2
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6 table-responsive">
    <table class="table-bordered table-responsive" *ngIf="matrixData2">
      <tbody>
        <tr>
          <td class="room-sm no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
          <td class="room-md no-border"></td>
        </tr>
        <tr *ngFor="let floor of buildA">
          <td *ngIf="floor.floor > 24" colspan="6" class="no-border"></td>
          <td *ngFor="let matrix of matrixData2[floor.name]; let i = index" [attr.colspan]="calColspan(matrix['room-detail'].merge)"
            class="text-center" [ngClass]="{'room-md': matrix['room-detail'].merge !=='xy', 'room-lg':  matrix['room-detail'].merge ==='xy', 'reserved': matrix.status === 'reserved'}"
            (click)="toggleReserve(matrix.diagram, floor.name, i)">
            {{matrix['room-detail'].room}}<br />
            {{matrix['room-detail'].space | number:'0.2-2'}} m2
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
