<ng-template #error let-c="close" let-d="dismiss">
  <div class="modal-body text-center">
    <h1>{{message}}</h1>
  </div>
  <div class="modal-footer" style="margin:auto; border: none;">
    <button type="button" class="btn btn-primary" (click)="close()" *ngIf="action === 'reset'">Close</button>
    <button type="button" class="btn btn-primary" (click)="d()" *ngIf="action !== 'reset'">Close</button>
  </div>
</ng-template>

<ng-template #prompt let-c="close" let-d="dismiss">
  <div class="modal-header" style="border: none;">
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <h1>{{message}}</h1>
  </div>
  <div class="modal-footer" style="margin:auto; border: none;">
    <button type="button" class="btn btn-primary" (click)="confirm()" *ngIf="action === 'available'">Reserve</button>
    <button type="button" class="btn btn-primary" (click)="confirm()" *ngIf="action === 'reserved'">Sold</button>
    <button type="button" class="btn btn-default" (click)="available()" *ngIf="action === 'available' && permission > 2">Not-Available</button>
    <button type="button" class="btn btn-primary" (click)="available()" *ngIf="action === 'not-available' && permission > 2">Available</button>
    <button type="button" class="btn btn-danger" (click)="cancel()" *ngIf="action === 'reserved' && permission > 2">Cancel
      reserved</button>
    <button type="button" class="btn btn-danger" (click)="cancel()" *ngIf="action === 'sold' && permission > 2">Cancel
      sold</button>
  </div>
</ng-template>
