<ng-template #error let-c="close" let-d="dismiss">
  <div class="modal-body text-center">
    <h1>{{message}}</h1>
  </div>
  <div class="modal-footer" style="margin:auto; border: none;">
    <button type="button" class="btn btn-primary" (click)="close()" *ngIf="action === 'reset'">Close</button>
    <button type="button" class="btn btn-primary" (click)="d()" *ngIf="action !== 'reset'">Close</button>
  </div>
</ng-template>

<ng-template #prompt let-c="close" let-d="dismiss">
  <div class="modal-header" style="border: none;">
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <h1>{{message}}</h1>
  </div>
  <div class="modal-footer" style="margin:auto; border: none;">
    <button type="button" class="btn btn-warning" (click)="confirm('isold')" *ngIf="action === 'available'">International
      sold</button>
    <button type="button" class="btn btn-danger" (click)="confirm('sold')" *ngIf="action === 'available'">Sold</button>
    <button type="button" class="btn btn-default" (click)="available()" *ngIf="action === 'available' && permission > 2">Not
      available</button>

    <button type="button" class="btn btn-primary" (click)="available()" *ngIf="action === 'not-available' && permission > 2">Confirm</button>


    <button type="button" class="btn btn-primary" (click)="cancel()" *ngIf="action === 'international-sold' && permission > 2">Confirm</button>
    <button type="button" class="btn btn-primary" (click)="cancel()" *ngIf="action === 'sold' && permission > 2">Confirm</button>
  </div>
</ng-template>
