<div class="admin-page background-tint">
    <div class="padding-admin">
        <div class="row mt-5 ml-0 mr-0">
            <div class="col-md-6 maxsize">
                <div class="card">
                    <h2 class="text-center mt-4">Quinn-Admin</h2>
                    <div class="card-body mb-4">
                        <form [formGroup]="adminForm">
                            <div class="form-group">
                                <div class="text-center"> Create an account </div>
                            </div>
                            <div class="form-group">
                                <div class="text-center"> Set permission </div>                                
                            </div>
                            <div class="form-group">
                                <div class="text-center"> Delete account </div>                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>