<div class="admin-page background-tint">
    <div class="padding-admin">
        <div class="row mt-5 ml-0 mr-0">
            <div class="col-md-6 maxsize">
                <div class="card">
                    <h2 class="text-center mt-4">Quinn-Admin</h2>
                    <div class="card-body mb-4">
                        <form [formGroup]="adminForm">
                            <ngb-tabset [justify]="currentJustify">
                                <ngb-tab title="Create an account">
                                    <ng-template ngbTabContent>
                                        <p>Create an account.</p>
                                    </ng-template>
                                </ngb-tab>

                                <ngb-tab title="Set permission">
                                    <ng-template ngbTabContent>
                                        <p>Set permission.</p>
                                    </ng-template>
                                </ngb-tab>

                                <ngb-tab title="Delete account">
                                    <ng-template ngbTabContent>
                                        <p>Delete account.</p>
                                    </ng-template>
                                </ngb-tab>

                                <ngb-tab title="Log">
                                    <ng-template ngbTabContent>
                                        <p>Manage Log.</p>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>