<div class="reset-page background-tint">
  <div class="padding-reset">
    <div class="row mt-5 ml-0 mr-0">
      <div class="col-lg-6 maxsize">
        <div class="card">
          <h2 class="text-center mt-4">Forgot password</h2>
          <h5 class="text-center">Please enter email to proceed.</h5>
          <div class="card-body">
            <form [formGroup]="resetForm">
              <div class="form-group">
                <input type="email" formControlName="email" class="form-control form-control-lg" placeholder="Your Email">
                <label class="error">{{errorMessage}}</label>
              </div>
              <button type="submit" (click)="resetpassword(resetForm.value.email)" class="btn btn-lg btn-block">
                <h4>Reset</h4>
              </button>
            </form>
            <!-- <div class="row mt-4 ml-0 mr-0">
              <div class="col-12 text-center">
                <p>No account yet? <a href="/register">Create an account</a></p>
              </div>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <div class="btn mr-5">
              <a href="#" [routerLink]="['/login']" class="button cta"> <svg id="arrow" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="25" height="25" viewBox="0 5 25 25" enable-background="new 0 0 11.121 19.414" xml:space="preserve">
                  <path style="fill:#E1B77E;" d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z" /></svg> Back to
                Login
                page</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<ngbd-modal-config #modal (doAction)="closeModal($event)"></ngbd-modal-config>
