<div class="reset-page background-tint">
  <div class="padding-reset">
    <div class="row mt-5 ml-0 mr-0">
      <div class="col-lg-6 maxsize">
        <div class="card">
          <h2 class="text-center mt-4">Forgot password</h2>
          <h5 class="text-center">Please enter email to proceed.</h5>
          <div class="card-body">
            <form [formGroup]="resetForm">
              <div class="form-group">
                <input type="email" formControlName="email" class="form-control form-control-lg" placeholder="Your Email">
                <label class="error">{{errorMessage}}</label>
              </div>
              <button type="submit" (click)="resetpassword(resetForm.value.email)" class="btn btn-lg btn-block">
                <h4>Reset</h4>
              </button>
            </form>
            <!-- <div class="row mt-4 ml-0 mr-0">
              <div class="col-12 text-center">
                <p>No account yet? <a href="/register">Create an account</a></p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngbd-modal-config #modal (doAction)="closeModal($event)"></ngbd-modal-config>
