/* You can add global styles to this file, and also import other style files */
.error {
  color: red;
}

.success {
  color: green;
}

.footer-diagram {
  position: fixed;
  bottom: 40px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #efefef;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #382F2D;
}
