.register-page {
  background-image: url('../../assets/img/bg-quinn.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.background-tint {
  background-color: rgba(86, 67, 57, 0.7);
  background-blend-mode: multiply;
}

.padding-register {
  padding-top: 100px;
}

.card {
  background-color: #382F2D;
  color: white;
  border: 1px solid #E1B77E;
  outline: 15px solid #382F2D;
}

.maxsize {
  max-width: 544px;
  margin: auto;
}

input {
  background-color: #382F2D;
  color: white;
  border: 1px solid #E1B77E;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

button {
  background-color: rgba(225, 183, 126, 0.5);
  border: 4px solid #E1B77E;
  border-radius: 15px;
  color: white
}

button:hover {
  background-color: #E1B77E;
  color: white;
  border: 4px solid white;
  border-radius: 15px;
}

button:visited {
  background-color: rgba(235, 198, 146, 0.5);
  border: 4px solid #E1B77E;
}

button:focus {
  background-color: rgba(235, 198, 146, 0.5);
  border: 4px solid #E1B77E;
  box-shadow: none;
}

button:active {
  background-color: rgba(235, 198, 146, 0.5);
  border: 4px solid #E1B77E;
}

input:visited {
  border: 1px solid #E1B77E;
}

input:focus {
  box-shadow: none;
  border: 1px solid #E1B77E;
}

input:active {
  border: 1px solid #E1B77E;
}

a {
  color: #E1B77E;
}

a:hover {
  color: #E1B77E;
}